.employee-home-page {
  position: relative;
  width: 1980px;
  height: 1680px;
  width: 100%;
  background: #2b2929;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container-employee-home {
  position: absolute;
  width: 1780px;
  height: 1374px;
  top: 264px;
  background: #575656;
  border: 5px solid #cf0000;
  border-radius: 50px;
}

.icon-section {
  width: 1780px;
  height: 134px;
}

.profile-icon {
  position: relative;
  width: 313px;
  height: 313px;
  left: 220px;
  top: 114px;
  cursor: pointer;
}

.profile-icon-label {
  position: absolute;
  width: 145px;
  height: 58px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  left: 304px;
  top: 497px;
}

.add-game-icon {
  position: absolute;
  width: 313px;
  height: 313px;
  left: 1246px;
  top: 114px;
  cursor: pointer;
}

.edit-game-icon {
  position: absolute;
  width: 313px;
  height: 313px;
  left: 733px;
  top: 114px;
  cursor: pointer;
}

.add-game-icon-label {
  position: absolute;
  width: 273px;
  height: 58px;
  left: 1266px;
  top: 497px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}

.edit-game-icon-label {
  position: absolute;
  width: 233px;
  height: 58px;
  left: 773px;
  top: 497px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}
