.sign-up-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.form-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 789px;
  height: 860px;
  background: #575656;
  border: 5px solid #cf0000;
  border-radius: 50px;
}

.sign-up-title {
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-form input {
  width: 347px;
  height: 70px;
  margin: 15px 0;
  padding: 0 20px;
  background: #d9d9d9;
  border: 5px solid #cf0000;
  border-radius: 50px;
  font-size: 24px;
  outline: none;
}

.sign-up-button {
  width: 200px;
  height: 70px;
  margin-top: 15px;
  background: #66e55a;
  border: 5px solid #cf0000;
  border-radius: 50px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #000000;
  cursor: pointer;
  text-align: center;
  outline: none;
}

.sign-up-button:hover {
  background: #5ac24d;
}

.error-message,
.success-message {
  margin-top: 20px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

.error-message {
  color: #ff0000;
}

.success-message {
  color: #66e55a;
}

.sign-in-link a {
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 29px;
  color: #78e8ff;
  text-decoration: none;
}

.sign-in-link a:hover {
  text-decoration: underline;
}
